body {
    width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}

.phone-number {
    font-weight: bold;
    font-size: 18px;
    display: block;
    color: #125b2c;
}

.seacrh {
width: 427px;
border: none;
font-size: 16px;
background-color: #bebbcda2;
border-radius: 10px;
padding: 10px;
}

.contact-info{
color: gray;
}

.ask-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px;
    width: 192px;
    height: 52px;
    background: #33836E;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    gap: 10px;
}

.menu {
display: flex;
margin-top: 30px;
gap: 30px;
justify-content: space-between;
font-size: 16px;
align-items: center;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu-border {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(205, 201, 203);
    border-radius: 10px;
    padding: 10px 20px;
    gap: 10px;
}

.menu-antrance{
display: flex;
gap: 10px;
align-items: center;
}

.bread{
font-size: 16px;
color: rgb(99, 96, 96);
margin-bottom: 15px;
margin-top: 40px;
}

.hero{
display: flex;
gap: 220px;
margin-bottom: 20px;
align-items: center;
}
.hero-text{
max-width: 600px;
}
.btn-ask{
padding: 10px 20px;
color: white;
border: none;
font-weight: 500;
background-color: #33836E;
border-radius: 10px;
}

.info{
display:flex;
gap: 30px;
}

.phone{
color: #125b2c;
font-weight: bold;
font-size: 18px;
display: block;
}

.question{
color: rgb(99, 96, 96);
display: flex;
gap: 30px;
}

.features{
display: flex;
align-items: center;
flex-direction: row;
gap: 40px;
font-size: 14px;
margin-top: 30px;
}

.features-text{
display: flex;
text-decoration: none;
color: black;
align-items: center;
flex-direction: row;
gap: 10px;
}

.image img{
height: 450px;
}


.help-text{
max-width: 1100px;
font-size: 16px;
}

.consultation{
display: block;
justify-content: space-between;
margin-top: 80px;
}

.consultation-content{
display: flex;
gap: 50px;
width: 1200px;
}

.consultation1{
box-sizing: border-box;

display: flex;
justify-content: center;
flex-direction: column;
align-items: flex-start;
padding: 10px;

border: 1px solid rgb(205, 201, 203);
border-radius: 20px;
width: 260px;
height: 170px;
}

.consultation-phone{
color: #140A32;
font-weight: bold;
font-size: 18px;
display: block;
}

.consultation1 a{
display: flex;
text-decoration: none;
color: green;
}

.tablo{
display: flex;
margin-top: 80px;
width: 1200px;
height: 200px;
background: rgba(51, 131, 110, 1);
border-radius: 20px;
gap: 70px;
}

.tablo-text{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
gap: 10px;
width: 334px;
height: 100px;
left: 313px;
color: white;
}

.tablo-online{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
gap: 10px;
width: 334px;
height: 100px;
left: 313px;
color: white;
}

.help-info{
margin-top: 80px;
}

.glav-blok{
display: flex;
gap: 30px;
margin-top: 30px;
}

.blok{
display: flex;
border: 1px solid rgb(205, 201, 203);
width: 680px;
height: 180px;
border-radius: 20px;
align-items: center;
font-size: 16px;
gap: 20px;
}

.glav-blok2{
display: flex;
gap: 30px;
margin-top: 30px;
}

.blok2{
display: flex;
border: 1px solid rgb(205, 201, 203);
width: 680px;
height: 180px;
border-radius: 20px;
align-items: center;
font-size: 16px;
gap: 20px;
}

.choose{
display: flex;
gap: 220px;
margin-bottom: 0px;
align-items: center;
margin-top: 80px;
}

.choose-lok{
display: flex;
flex-direction: column;
}

.choose-text{
max-width: 600px;
}

.choose-info{
display: flex;
align-items: center;
flex-direction: row;
gap: 40px;
font-size: 14px;
margin-top: 30px;
}

.info-text{
color: #33836E;
}

.image-choose img{
height: 250px;
}

.green{
display: flex;
width: 1200px;
height: 200px;
background: rgba(51, 131, 110, 1);
border-radius: 20px;
gap: 150px;
}

.green-num{
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 50px;
margin-left: 60px;
margin-bottom: 40px;
}

.green-number{
color: white;
margin: 0px;
}

.green-text{
color: rgba(255, 255, 255, 0.5);
}

.order-number{
display: flex;
flex-direction: row;
gap: 10px;
}

.green-call{
display: flex;
flex-direction: column;
margin-top: 30px;
gap: 15px;
}

.seacrh-green{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width: 250px;
height: 50px;
background: white;
border: 1px solid #ffffff;
border-radius: 10px;
}

.green-btn{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
color: white;
background-color: #33836E;
width: 200px;
height: 56px;
border: 1px solid white;
border-radius: 10px;
}

.specialties{
display: flex;
flex-direction: column;
}

.specialties-glav-blok{
display: flex;
gap: 40px;
}

.specialties-blok{
display: flex;
border: 1px solid rgb(205, 201, 203);
width: 560px;
height: 287px;
border-radius: 20px;
align-items: center;
font-size: 16px;
gap: 20px;
}